@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.poppins-font, body {
  font-family: "poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

/* shared - style  */
.main-container {
max-width: 1200px;
margin: 0 auto;
padding: 0 12px;
}
.btn {
background-color: #E02C6D;
border-radius: 41px;
padding: 10px 25px;
color: #ffffff;
font-size: 1rem;
font-weight: bold;
border: none;
}
.main-heading {
font-size: 3.3rem;
color: #3A3A3A;
font-weight: bold;
}
.heading {

}
.p-text {
  font-size: 1rem;
  color: #3A3A3A;
  font-weight: 600;
}

/* design-section */


/* nav-section-design */
nav {
  padding-top: 40px;
  padding-bottom: 50px;
}
.Dextop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Dextop-nav .logo h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3A3A3A;
}
.Dextop-nav .menu ul {
  display: flex;
  gap: 34px;
}
.Dextop-nav .menu ul li {
  color: #3A3A3A;
  list-style: none;
  font-weight: 600;
  font-size: 1.2rem;
}
.mobile-nav {
  display: none;
}

/* banner-section-design */
#banner .main-container {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  align-items: center;
}
.banner-content  {
  width: 582px;
}
.banner-content h1 {
  margin-bottom: 30px;
}
.banner-content .btn {
  margin-top: 30px;
}
.banner-image img {
  width: 440px;
  height: 414px;
}

/* ads-section-design */
#ads {

}
#ads .main-container {
max-width: 1110px;
margin: 0 auto;
border-top: 1px solid #C0CCDA;
border-bottom: 1px solid #C0CCDA;
}
.ads-box {
  padding: 36px 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: auto;
}

/* colluction-section-design  */

#colluction .main-container {
  padding: 100px 0;
  max-width: 1050px;
  margin: 0 auto;
}
.colluction-container {
text-align: center;
}

.product-box {
padding-top: 30px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
gap: 30px;
}
.product {
  padding: 17px 15px 23px 15px;
  box-shadow: 0 5px 50px #00000020;
  border-radius: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media screen and (max-width: 576px) {

  /* nav-section-design */
  nav {
  padding-top: 20px;
  padding-bottom: 30px;
}
  .Dextop-nav {
    display: none;
  }
  .mobile-nav {
  display: block;
}
 .mobile-nav .main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container li {
  list-style: none;
}


/* banner-section-design */
#banner .main-container {
  flex-direction: column-reverse;
  padding: 50px 0;
}
.banner-content  {
  width: 100%;
  text-align: center;
}
.banner-content  h1 {
  font-size: 2rem;
}
.banner-content .btn {
  margin-top: 10px;
}
.banner-image img {
  width: 100%;
  height: 100%;
}

/* ads-section-design */
#ads .main-container {
max-width: 100%;
margin: 0 auto;
}
.ads-box {
  padding: 12px 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.ads-box img {
  width: 20%;
}

}


@media screen and (min-width: 576px) and (max-width: 992px) {

}