@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.poppins-font, body {
  font-family: "poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

/* shared - style  */
.main-container {
max-width: 1200px;
margin: 0 auto;
padding: 0 12px;
}
.btn {
background-color: #E02C6D;
border-radius: 41px;
padding: 10px 25px;
color: #ffffff;
font-size: 1rem;
font-weight: bold;
border: none;
}
.main-heading {
font-size: 3.3rem;
color: #3A3A3A;
font-weight: bold;
}
.heading {

}
.p-text {
  font-size: 1rem;
  color: #3A3A3A;
  font-weight: 600;
}

/* design-section */


/* nav-section-design */
.Dextop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Dextop-nav .logo h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3A3A3A;
}
.Dextop-nav .menu ul {
  display: flex;
  gap: 34px;
}
.Dextop-nav .menu ul li {
  color: #3A3A3A;
  list-style: none;
  font-weight: 600;
  font-size: 1.2rem;
}
.mobile-nav {
  display: none;
}

/* banner-section-design */
#banner .main-container {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.banner-content  {
  width: 582px;
}
.banner-content .btn {
  margin-top: 10px;
}
.banner-image img {
  width: 440px;
  height: 414px;
}


@media screen and (max-width: 576px) {

  /* nav-section-design */
  .Dextop-nav {
    display: none;
  }
  .mobile-nav {
  display: block;
}
 .mobile-nav .main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container li {
  list-style: none;
}


/* banner-section-design */
#banner .main-container {
  flex-direction: column-reverse;
  padding: 50px 0;
}
.banner-content  {
  width: 100%;
  text-align: center;
}
.banner-content  h1 {
  font-size: 2.8rem;
}
.banner-content .btn {
  margin-top: 10px;
}
.banner-image img {
  width: 100%;
  height: 100%;
}




}